body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}



/* .success-message {
    color: #4caf50;
    margin-bottom: 15px;
}

.error-message {
    color: #f44336;
    margin-bottom: 15px;
}

#error {
color: red;
}

#success-message {
color: green;
} */



